@page "/counter"
@inject SingletonService singleton
@inject TransientService transient

<h1>Counter</h1>

<p>Current count: @currentCount</p>
<p>Singleton :: Current count: @singleton.Value</p>
<p>Transient :: Current count: @transient.Value</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<p>Current Count Input <input type="number" @bind="currentCount"/></p>

<hr />

<MoviesList Movies="movies" />



@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
        transient.Value = currentCount;
        singleton.Value = currentCount;
    }



    public List<Movie> movies;

    protected override void OnInitialized()
    {
        movies = new List<Movie>()
        {
            new Movie(){Title = "The Rock", ReleaseDate=new DateTime(2008, 12, 24)}
        };
    }


}
