@page "/"
@inject SingletonService singleton
@inject IRepository repository

<div>
    <p>Singleton :: Current count: @singleton.Value</p>
</div>

<div>
    <h2>Movies</h2>
    <hr />
    <MoviesList Movies="movies" />
</div>
<button class="btn btn-primary" @onclick="AddMovie">Add New Movie</button>






@code   {
    public List<Movie> movies;

    protected override void OnInitialized()
    {

        movies = repository.GetMovies();
    }

    void AddMovie()
    {
        movies.Add(new Movie() { Title = "Inception : Remembering", ReleaseDate = new DateTime(2001, 10, 18) });
    }
}